<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card-block">
        <h3 class="card-title"><%= @artwork.art_category %></h3>
        <p class="card-text"><%= @artwork.size %></p>
        <p class="card-text"><%= @artwork.price %></p>
        <p class="card-text"><%= @artwork.photo_artwork %></p>
        <p><%= @artwork.framed %></p>
        <%= link_to "Buy artwork", artwork_path(@artwork), class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
</div>

