<div class="banner" style="background-image: url(<%= image_url 'mourin.jpg'%>);">
  <div class="banner-content">
    <h1>Find your work of art</h1>
    <!-- <a class="btn btn-primary btn-lg">GET IT</a> -->
    <%= link_to 'Photography', new_account_registration_path, class: "white-button btn" %>
    <%= link_to 'Painting', new_account_registration_path, class: "white-button btn" %>
    <%= link_to 'Drawing', new_account_registration_path, class: "white-button btn" %>
    <%= link_to 'Sculpture', new_account_registration_path, class: "white-button btn" %>
    <%= link_to 'Mixed Media', new_account_registration_path, class: "white-button btn" %>
     <%= link_to 'Browse All', new_account_registration_path, class: "white-button btn" %>
     <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search for artist">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>
